.topbar{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: var(--background);
  padding: 20px 30px;
  height: 84px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.navigation{
  display: flex;
  gap: 40px;
  align-items: center;
}

.link{
  font-size: 16px;
  color: var(--secondary);
  font-family: 'ArchivoRegular';
}

.link:hover{
  text-decoration: underline;
}

.buttons{
  display: flex;
  gap: 10px;
}

.hamburger{
  display: none;
  visibility: hidden;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: scale 0.1s;
}

.hamburger:hover{
  scale: 1.2;
}

@media (max-width: 700px) {
  .topbar{
    padding: 20px;
    height: 80px;
  }
  .hamburger{
    display: flex;
    visibility: visible;
  }
  .buttons{
    display: none;
    visibility: none;
  }
  .link{
    display: none;
  visibility: hidden;
  }
  
}