.logo{
  height: 41px !important;
}

.middle{
  display: flex;
  flex-direction: column;
  padding: 0 20px 20px 20px;
}

.title{
  font-family: 'ArchivoSemibold';
  font-size: 20px;
  color: var(--primary);
}

.subtitle{
  font-family: 'ArchivoRegular';
  font-size: 16px;
  color: var(--secondary);
  margin-top: 15px;
}

.features{
  border-top: 1px solid var(--border);
  margin-top: 20px;
  padding-top: 5px;
}

.feature{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
  font-family: 'ArchivoMedium';
  font-size: 16px;
  color: var(--primary);
}

.bottom{
  display: flex;
  width: 100%;
  border-top: 1px solid var(--border);
  padding: 20px;
  box-sizing: border-box;
  gap: 15px;
  background-color: var(--white);
  border-radius: 0 0 20px 20px;
}

@media (max-width: 800px) or (max-height: 600px) {
  .bottom{
    position: fixed;
    bottom: 0;
    border-radius: 0;
  }
  
  .middle{
    padding: 0 25px 120px 25px;
  }

}