.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addBanner{
  margin-top: 20px;
}

.addImg{
  border-radius: 10px;
}

.title{
  font-family: 'ArchivoBlack';
  font-size: 60px;
  margin-top: 60px;
  max-width: 656px;
  letter-spacing: -2.4px;
  text-align: center;
}

.highlight {
  color: #FF5733; /* Cambia este valor al color que prefieras */
}