.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 84px 30px 60px;
}

.title{
  font-family: 'ArchivoBlack';
  font-size: 60px;
  margin-top: 60px;
  max-width: 800px;
  letter-spacing: -2.4px;
  text-align: center;
}

.highlight {
  color: var(--accent-one);
}

.subtitle{
  font-family: 'ArchivoRegular';
  font-size: 16px;
  color: var(--secondary);
  margin-top: 20px;
  text-align: center;
}
