.middle{
  display: flex;
  flex-direction: column;
  padding: 0 20px 20px 20px;
}

.starsSelectable svg{
  cursor: pointer;
  width: 45px;
  height: 45px;
}

.label{
  font-size: 16px;
  font-family: 'ArchivoMedium';
  color: var(--primary);
  margin: 20px 0 15px 0;
}

.input{
  height: 100px;
  font-size: 16px;
  font-family: 'archivoRegular';
  color: var(--primary);
  resize: none;
  padding: 10px 15px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--border);
  border-radius: 10px;
}

.input::placeholder {
  color: var(--tertiary);
}

.input:focus{
  outline: none;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.02);
}

.disclaimer{
  margin-top: 20px;
  font-size: 16px;
  font-family: 'ArchivoRegular';
  color: var(--secondary);
}

.underline{
  text-decoration: underline;
  font-family: 'ArchivoMedium';
  cursor: pointer;
}

.bottom{
  display: flex;
  width: 100%;
  border-top: 1px solid var(--border);
  padding: 15px 20px;
  box-sizing: border-box;
  gap: 20px;
  background-color: var(--background);
  border-radius: 0 0 20px 20px;
  align-items: center;
  justify-content: space-between;
}

.button{
  background-color: var(--border);
  color: var(--tertiary);
  font-family: 'ArchivoMedium';
  font-size: 16px;
  border: 2px solid var(--border);
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px 15px;
  transition: all 0.1s;
}

.button.active{
  background-color: var(--primary);
  border: 2px solid var(--primary);
  color: var(--background);
  cursor: pointer;
}

.button.active:hover{
  background-color: var(--background);
  color: var(--primary);
}

.hiddenText{
  font-size: 16px;
  font-family: 'ArchivoMedium';
  margin-right: auto;
  display: none;
  visibility: hidden;
}
.exchange{
  display: flex;
  gap: 15px;
}

.exchangeLogo{
  width: 26px;
  height: 26px;
}

.exchangeName{
  font-family: 'ArchivoSemibold';
  font-size: 20px;
}

@media (max-width: 800px) or (max-height: 600px) {    
  .middle{
    padding: 0 25px 137.6px 25px;
  }

  .bottom{
    position: fixed;
    bottom: 0;
    border-radius: 0;
    flex-direction: column;
  }

  .exchangeContainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .button{
    width: 100%;
  }

  .hiddenText{
    display: flex;
    visibility: visible;
  }

}