.middle{
  display: flex;
  padding: 0 20px 20px 20px;
  max-height: 460px;
  overflow-y: auto;
  flex-direction: column;
  min-height: 405px;
}

.inputContainer{
  display: flex;
  padding: 20px 0 15px 0;
  border-top: 1px solid var(--border);
  position: sticky;
  top: 0;
  background-color: var(--background);
}

.input{
  padding: 15px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid var(--border);
  font-family: 'ArchivoRegular';
  font-size: 16px;
  color: var(--primary);
  background-color: var(--input);
}

.input::placeholder{
  color: var(--tertiary);
}

.input:focus{
  outline: none;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.02);
}

.cryptos{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  height: 100%;
}

.bottom{
  display: flex;
  width: 100%;
  border-top: 1px solid var(--border);
  padding: 15px 20px;
  box-sizing: border-box;
  gap: 15px;
  background-color: var(--background);
  border-radius: 0 0 20px 20px;
  justify-content: space-between;
  align-items: center;
}

.info{
  font-family: 'ArchivoRegular';
  font-size: 16px;
  color: var(--secondary);
}

.button{
  background-color: var(--primary);
  color: var(--background);
  font-family: 'ArchivoMedium';
  font-size: 16px;
  border: 2px solid var(--primary);
  box-sizing: border-box;
  border-radius: 10px;
  padding: 11.6px 15px;
  cursor: pointer;
  transition: all 0.1s;
  min-width: 100px;
  display: flex;
  justify-content: center;
}

.disabled{
  background-color: var(--border);
  color: var(--primary);
  border: 2px solid var(--border);
  cursor: not-allowed;
}

.button:not(.disabled):hover{
  background-color: var(--background);
  color: var(--primary);
}

@media (max-width: 800px) or (max-height: 600px) {
  .middle{
    padding: 0 20px 127.4px 20px;
    min-height: 200px;
  }

  .bottom{
    position: fixed;
    bottom: 0;
    border-radius: 0;
    flex-direction: column;
    align-items: baseline;
  }

  .button{
    width: 100%;
  }

}

@media (max-width: 300px) {
  .middle{
    padding: 0 20px 145px 20px;
  }
}